/* ------------------- */
/* preloader         */
/* ------------------- */

/* ------------------- */
/* Buttons         */
/* ------------------- */
.btn {
  font-family: inherit;
  padding: 1rem 2rem;
  outline: 0;
  border-radius: var(--border-radius-2sm);
  -webkit-border-radius: var(--border-radius-2sm);
  -moz-border-radius: var(--border-radius-2sm);
  -ms-border-radius: var(--border-radius-2sm);
  -o-border-radius: var(--border-radius-2sm);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.7rem;
  -webkit-box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  color: var(--clr-white);
}

.btn__primary {
  color: var(--white-color);
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn__primary:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 40rem;
  height: 40rem;
  margin: auto;
  background: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: translateX(-50%) translateY(-5%) scale(0.4);
  transform: translateX(-50%) translateY(-5%) scale(0.4);
  -webkit-transition: transform 1s;
  transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  -moz-transform: translateX(-50%) translateY(-5%) scale(0.4);
  -ms-transform: translateX(-50%) translateY(-5%) scale(0.4);
  -o-transform: translateX(-50%) translateY(-5%) scale(0.4);
}

.btn__primary:hover:before {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(-45%) translateY(0) scale(1);
  transform: translateX(-45%) translateY(0) scale(1);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.btn__primary:hover {
  background-color: var(--main-color);
}
/* .btn__secondary:hover {
  color: var(--white-color);
} */
.btn__secondary:hover:before {
  top: -3rem;
  left: -3rem;
}

/* ------------------- */
/* Inputs         */
/* ------------------- */
.form-group {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 1.4rem 3.7rem;
  outline: 0;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: var(--border-radius-2sm);
  -webkit-border-radius: var(--border-radius-2sm);
  -moz-border-radius: var(--border-radius-2sm);
  -ms-border-radius: var(--border-radius-2sm);
  -o-border-radius: var(--border-radius-2sm);
  font-size: var(--font-size-lg);
  color: var(--clr-base-dk);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: var(--primary-color);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid rgb(13 110 253 / 49%);
}

.form-group i {
  position: absolute;
  font-size: var(--font-size-3xl);
  left: 1rem;
  top: calc(50% - 0.49em);
  color: var(--clr-base-lt);
}

/* ------------------- */
/* heading       */
/* ------------------- */
.section-heading {
  color: var(--clr-base-dk);
  font-size: clamp(1.5rem, 4.3vw - 0.4rem, 2.3rem);
  margin-bottom: 3rem;
}
.section-header {
  justify-content: space-between;
}
.section-link {
  color: var(--clr-primary);
  font-weight: var(--font-bold);
}
/* ------------------- */
/* pagination         */
/* ------------------- */

.pagination__list .pagination_btn {
  box-sizing: border-box;
  background: var(--primary-color-5);
  border-radius: 2rem;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0px 0.4rem;
  cursor: pointer;
}

.pagination__list .pagination_btn:first-child {
  position: relative;
  background: var(--main-color);
}

.pagination__list .pagination_btn:first-child::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid var(--main-color);
  overflow: visible;
}
/*************/
