.header {
  justify-content: space-between;
  width: 100%;
  background: var(--clr-white);
}
.fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.header.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  align-items: center;
  -webkit-box-shadow: 0 4px 2px -2px rgb(108 118 134 / 10%);
  box-shadow: 0 4px 2px -2px rgb(108 118 134 / 10%);
  padding: 1.5rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.header__title h2 {
  color: var(--clr-base-dk);
  font-size: clamp(1.3rem, 8vw - 2.2rem, 2.8rem);
}
.header__action {
  gap: 2rem;
}
