.new-courses__wrapper {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.new-courses__item {
  padding: 1rem;
  border-radius: var(--border-radius-lg);
}
.new-courses__item:nth-child(1) {
  background-color: var(--clr-primary-lt);
}
.new-courses__item:nth-child(2) {
  background-color: var(--clr-orange-ltr);
}
.new-courses__item:nth-child(3) {
  background-color: var(--clr-blue-ltr);
}
.new-courses__media {
  border-radius: var(--border-radius-lg);
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.new-courses__media img {
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.new-courses--one {
  background-color: var(--clr-primary);
}
.new-courses--two img {
  transform: rotate(-9deg);
}
.new-courses--two {
  background-color: var(--clr-orange);
}
.new-courses--three {
  background-color: var(--clr-blue-lt);
}
.new-courses__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--clr-base-dk);
}
.new-courses__footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4rem;
}
.new-courses__avatars img {
  height: 3.5rem;
  border-radius: 50%;
  -webkit-box-shadow: -2px 2px 4px 0px rgb(0 0 0 / 20%);
  box-shadow: -2px 2px 4px 0px rgb(0 0 0 / 20%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.new-courses__avatars img:hover {
  -webkit-transform: translateY(-4px) scale(1.02);
  transform: translateY(-4px) scale(1.02);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.new-courses__avatars-link:nth-child(1) {
  z-index: 3;
}
.new-courses__avatars-link:nth-child(2) {
  margin-left: -1rem;
  z-index: 2;
}
.new-courses__avatars-link:nth-child(3) {
  margin-left: -1rem;
  z-index: 2;
}
.btn__courses {
  padding: 1rem 1.5rem;
}
.new-courses__item:nth-child(1) .new-courses__footer .btn {
  background-color: var(--clr-primary);
}
.new-courses__item:nth-child(2) .new-courses__footer .btn {
  background-color: var(--clr-orange);
}
.new-courses__item:nth-child(3) .new-courses__footer .btn {
  background-color: var(--clr-blue-lt);
}
.new-courses__name {
  color: var(--clr-base-dk);
}
.new-courses__lessons {
  color: var(--clr-base);
}
