.profile {
  margin-bottom: 2rem;
}
.profile__header {
  justify-content: space-between;
  width: 100%;
}
.profile__header h3 {
  color: var(--clr-base-dk);
  font-size: clamp(1.3rem, 3.7vw - 0.3rem, 2rem);
}
.profile__body {
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
  color: var(--clr-base-dk);
}
.profile__body img {
  border-radius: 50%;
  cursor: pointer;
}
.profile__info {
  cursor: pointer;
}
.profile__name {
  font-size: var(--font-size-1xl);
  margin-bottom: 5px;
}
.profile__level {
  color: var(--clr-base-lt);
  font-weight: var(--font-semi-bold);
}
.profile__name i {
  color: var(--clr-primary);
}
.date-picker {
  display: grid;
  place-items: flex-start;
  margin-bottom: 2rem;
}
