:root {
  /* our base color */
  --clr-base: #666;
  --clr-base-dk: #424040;
  --clr-base-lt: #a6a6a6;
  --clr-white: #fbfbfb;
  /* primary brand color */
  --clr-primary: #8a70d6;
  --clr-primary-lt: #e9e3fe;
  /* --clr-primary-ltr: lighten($clr-primary, 10%);
  --clr-primary-dk: darken($clr-primary, 5%);
  --clr-primary-dkr: darken($clr-primary, 10%); */
  /* box courses color */
  --clr-orange: #fcab5e;
  --clr-orange-ltr: #fff0e1;
  --clr-blue-lt: #579be4;
  --clr-blue-ltr: #e5f3fe;

  /* -- border radius -- */
  --border-radius-tiny: 0.12rem;
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-2sm: 0.8rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 1.5rem;
  --border-radius-xl: 2rem;
  --border-radius-2xl: 2.5rem;
  --border-radius-3xl: 3rem;
  /* -- font size -- */
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: clamp(0.9rem, 1.9vw + 0.1rem, 1.25rem);
  --font-size-xl: clamp(1.1rem, 2.1vw + 0.2rem, 1.5rem);
  --font-size-1xl: clamp(1.5rem, 1.3vw + 0.9rem, 1.75rem);
  --font-size-2xl: clamp(1.7rem, 1.6vw + 1rem, 2rem);
  --font-size-3xl: clamp(2rem, 2.7vw + 0.8rem, 2.5rem);
  --font-size-4xl: clamp(2.5rem, 2.7vw + 1.3rem, 3rem);
  --font-size-5xl: clamp(3rem, 2.7vw + 1.8rem, 3.5rem);
  /* -- font weight --  */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-2x-bold: 800;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #f2f8f2 75%);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

input,
button,
textarea,
select,
input[type="text"]::placeholder {
  font: inherit;
}

section {
  padding: 1.7em 0;
}

textarea {
  resize: none;
}
